
*.ntvs_analysis.dat
*.user
*.suo
*.azurePubxml
log4net.config
FxCop.xml
*.lastcodeanalysissucceeded
*.cache
SendARaven/obj/*
SendARaven/bin/*
SendARaven/obj/Debug/*
\.vs/SendARaven/*/*
obj/
bin/
obj/
Debug/
Release/
LocalDebug/
packages/
Packages/
ArgoLogs/

/TestResults
/Src/Deployment/Deployment.Web/ArgoLogs/*
/Src/Deployment/Deployment.Web/Logs/*
/Src/Deployment/Deployment.OceWeb/Logs/*
/Src/Deployment/Deployment.Web/scripts/img/*
/SendARaven/obj/*
/.vs/
*.swp
/Src/Deployment/Deployment.Web/obj/HotReload
/Src/Tools/Tools.DataAccessLayerGenerator/DALPackage/node_modules/
/Src/Tools/Tools.DataAccessLayerGenerator/DALPackage
/Src/Tools/Tools.DataAccessLayerGenerator/DALPackage/package-lock.json
!Src/Tools/Tools.DataAccessLayerGenerator/DALPackage/GenericRequest.ts
ArgoUIDataAccessLayer.ts
DAL.log
GeneratedTypings/
/Src/Deployment/Deployment.Web/scripts
/Src/Deployment/Deployment.DiSvc/csx/Debug/roles/WPA.DiWkr/approot/Logs/*
/Src/Deployment/Deployment.StaticErrorPage/Logs/*
/Src/Deployment/Deployment.OceWeb/Logs/*
/Src/Deployment/Deployment.Web/Logs
/Src/Deployment/Deployment.Web/scripts
